html {
    background-color: black;
    color: white;
    font-weight: 300;
}

#header {
    text-align: center;
}

#headshot {
    width: 256px;
    height: 256px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#description {
    position: absolute;
    text-align: left;
    top: 0;
}

#langs {
    position: absolute;
    text-align: right;
    top: 0;
    right: 2.5%;
}

#descTitle{
    text-align: left;
}
#langTitle{
    text-align: right;
}

#langContent{
    text-align: center;
    font-size: 125%;
}

#descContent{
    font-size: 16px;
}

#icons {
    position: absolute;
    bottom: 0;
    left: 50%;
    bottom: 0;
    width: 100%;
    transform: translate(-50%, 0) scale(95%);
}

.devicon-archlinux-plain {
    font-size: 144px;
    position: absolute;
    left: 5px;
    bottom: 5px;
}

.devicon-java-plain {
    font-size: 144px;
    position:absolute;
    right: 5px;
    bottom: 5px;
}