
/* Win95 styled font */

@font-face {
    font-family: 'w95font';
    src: url('assets/fonts/w95font.woff2') format('woff2'),
         url('assets/fonts/w95font.woff') format('woff'),
         url('assets/fonts/W95font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

p, h1, h2, h3, h4, h5 {
    font-family: 'w95font';
}
