
/* Win95 styled font */

@font-face {
    font-family: 'w95font';
    src: url('assets/fonts/w95font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'w95font';
    src: url('assets/fonts/w95font-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

p {
    font-family: w95font;
}
h1 {
    font-family: w95font;
}
h2 {
    font-family: w95font;
}
h3 {
    font-family: w95font;
}
h4 {
    font-family: w95font;
}
h5 {
    font-family: w95font;
}