/* the "wallpaper" of sorts */
body {
    background-image: url(assets/wallpapers/solid.jpg);
    background-size: cover;
    background-position: top;
    overflow-y: hidden;
    overflow-x: hidden;
}

.taskbar {
    background-color: #c0c0c0;
    position: absolute;
    width: 100vw;
    height: 30px;
    bottom: 0;
    left: 0;
    padding-left: 4px;
    padding-top: 6px;
    z-index: 32767;
}

.startMenu {
    background-color: white;
    border: 1px rgb(147, 147, 147) solid;
    width: 200px;
    height: 300px;
    display: none;
    position: absolute;
    bottom: 6vh;
    left: 0.5vw;
}

/* Start Button and icon styling */
img.start {
    height: 18px;
    transform: translate3d(0, 2px, 0);
}
button.start {
    border: 1px rgb(147, 147, 147) solid;
    position: relative;
    left: 5px;
    border-radius: 0px;
    font-family: "w95font";
    font-size: 18px;
    height: 90%;
    transform: translate(0, -1px);
    filter: drop-shadow(2px 1px 0px rgb(80, 80, 80));
}

/* Clock styling and positioning */
.time {
    font-family: "w95font";
    font-size: 20px;
    width: 40px;
    padding: 3px;
    position: absolute;
    top: -16px;
    right: 24px;
}

#aboutMe {
    position: absolute;
    display: none;
    z-index: -2;
    background-color: #f1f1f1;
    border: 5px solid #ffffff;
    width: 63.4%;
    height: 75%;
    font-family: w95font;
    filter: drop-shadow(0 0 0.25rem black);
}

#aboutMeHeader {
    padding-top: 3px;
    cursor: move;
    z-index: -1;
    text-align: center;
    background-color: #ffffff;
}

#aboutMeCloseButton {
    border: 1px rgb(147, 147, 147) solid;
    font-family: w95font;
    position: absolute;
    right: 3px;
    top: 0;
}

#aboutMeSite {
    width: 99.7%;
    height: 95%;
}

#projects {
    position: absolute;
    display: none;
    z-index: -2;
    background-color: #f1f1f1;
    border: 5px solid #ffffff;
    width: 63.4%;
    height: 75%;
    font-family: w95font;
    filter: drop-shadow(0 0 0.25rem black);
}

#projectsHeader {
    padding-top: 3px;
    cursor: move;
    z-index: -1;
    text-align: center;
    background-color: #ffffff;
}

#projectsCloseButton {
    border: 1px rgb(147, 147, 147) solid;
    font-family: w95font;
    position: absolute;
    right: 3px;
    top: 0;
}

#projectsSite {
    width: 99.7%;
    height: 95%;
}

#wallpapers {
    position: absolute;
    display: none;
    z-index: -2;
    background-color: #f1f1f1;
    border: 5px solid #ffffff;
    width: 63.4%;
    height: 75%;
    font-family: w95font;
    filter: drop-shadow(0 0 0.25rem black);
}

#wallpapersHeader {
    padding-top: 3px;
    cursor: move;
    z-index: -1;
    text-align: center;
    background-color: #ffffff;
}

#wallpapersCloseButton {
    border: 1px rgb(147, 147, 147) solid;
    font-family: w95font;
    position: absolute;
    right: 3px;
    top: 0;
}

#wallpapersSite {
    width: 99.7%;
    height: 95%;
}

.startMenuHeader {
    background: #2a7b9b;
    background: linear-gradient(
        90deg,
        rgba(42, 123, 155, 1) 0%,
        rgba(87, 119, 199, 1) 50%,
        rgb(95, 149, 255) 100%
    );
    color: white;
    text-align: center;
    font-size: 24px;
    text-shadow: 1px 2px black;
    padding: 0px;
    top: 0;
    position: relative;
}

#aboutMeStartButton {
    text-align: center;
    width: 100%;
    height: 20%;
    border: 1px #c0c0c0 solid;
    border-radius: 0px;
    font-family: "w95font";
    font-size: 18px;
}

#projectsStartButton {
    text-align: center;
    width: 100%;
    height: 20%;
    border: 1px #c0c0c0 solid;
    border-radius: 0px;
    font-family: "w95font";
    font-size: 18px;
    margin-top: 5px;
}

#wallpapersStartButton {
    text-align: center;
    width: 100%;
    height: 20%;
    border: 1px #c0c0c0 solid;
    border-radius: 0px;
    font-family: "w95font";
    font-size: 18px;
    margin-top: 5px;
}

.ignore-mouse-events {
    pointer-events: none;
}

.devicon-github-plain {
    font-size: 42px;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 5px;
    padding: 5px;
    transform: translate(-105%, 0);
    background-color: #cacaca;
    border: 4px #c0c0c0 solid;
    padding: 0%;
}
.devicon-slack-plain {
    font-size: 42px;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 5px;
    padding: 5px;
    transform: translate(5%, 0);
    background-color: #cacaca;
    border: 4px #c0c0c0 solid;
    padding: 0;
}
