/* the "wallpaper" of sorts */
body {
    background-color: #659cc0;
    overflow-y:auto;
    overflow-x:hidden;
}

.taskbar{
    background-color: rgb(255, 255, 255);
    position:absolute;
    width: 100vw;
    height: 30px;
    bottom:0;
    left: 0;
    padding-left: 4px;
    padding-top: 6px;
}

.startMenu{
    background-color: rgb(255, 255, 255);
    border: 2px rgb(147, 147, 147) solid;
    width: 200px;
    height: 300px;
    display:none;
    position: absolute;
    bottom:40px;
    left:4px;
}

/* Start Button and icon styling */
img.start{
    height:18px;
    transform: translate(0%,5%);
}
button.start{
    border: 1px rgb(147, 147, 147) solid;
    border-radius: 0px;
    font-family: 'w95font';
    font-size: 18px;
    height:90%;
    transform: translate(0,-1px);
    filter: drop-shadow(2px 1px 0px rgb(80, 80, 80));
}

/* Clock styling and positioning */
p.time{
    font-family: 'w95font';
    font-size: 18px;
    width: 40px;
    border: 2px rgb(147, 147, 147) solid;
    background-color: white;
    padding: 3px;
    filter: drop-shadow(2px 1px 0px rgb(80, 80, 80));
    position:absolute;
    bottom: -2vh;
    right: 1vw;
}

#debug {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 5px solid #ffffff;
  text-align: right;
  cursor: move;
  width: 640px;
  height: 480px;
  justify-content: center;
}

#debugheader {
  padding: 5px;
  cursor: move;
  z-index: 10;
  background-color: #ffffff;
}

#debugClose {
    border: 1px rgb(147, 147, 147) solid;
    font-family: w95font;
}

#debugsite{
    width: 635px;
    height: 435px;
}