/* the "wallpaper" of sorts */
body {
    background-image: url(assets/wallpapers/solid.jpg);
    background-size: cover;
    background-position: top;
    overflow-y:hidden;
    overflow-x:hidden;
}

.taskbar{
    background-color: #c0c0c0;
    position:absolute;
    width: 100vw;
    height: 30px;
    bottom:0;
    left: 0;
    padding-left: 4px;
    padding-top: 6px;
    z-index:32767;
}

.startMenu{
    background-color: white;
    border: 1px rgb(147, 147, 147) solid;
    width: 200px;
    height: 300px;
    display:none;
    position: absolute;
    bottom:6vh;
    left:0.25vw;
}

/* Start Button and icon styling */
img.start{
    height:18px;
    transform: translate(0%,5%);
}
button.start{
    border: 1px rgb(147, 147, 147) solid;
    border-radius: 0px;
    font-family: 'w95font';
    font-size: 18px;
    height:90%;
    transform: translate(0,-1px);
    filter: drop-shadow(2px 1px 0px rgb(80, 80, 80));
}

/* Clock styling and positioning */
.time{
    font-family: 'w95font';
    font-size: 20px;
    width: 40px;
    padding: 3px;
    filter: drop-shadow(0px 1px 0px rgb(80, 80, 80));
    position:absolute;
    bottom: -2.5vh;
    right: .5vw;
}

#aboutMe {
  position: absolute;
  display:none;
  z-index: -2;
  background-color: #f1f1f1;
  border: 5px solid #ffffff;
  width: 957px;
  height: 540px;
  font-family: w95font;
}

#aboutMeHeader {
  padding-top: 3px;
  cursor: move;
  z-index: -1;
  text-align: center;
  background-color: #ffffff;
}

#aboutMeCloseButton {
    border: 1px rgb(147, 147, 147) solid;
    font-family: w95font;
    position: absolute;
    right:3px;
    top:0;
}

#aboutMeSite {
    width:955px;
    height:515px;
}

.startMenuHeader{
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 119, 199, 1) 50%, rgb(95, 149, 255) 100%);
    color:white;
    text-align: center;
    font-size: 24px;
    text-shadow: 1px 2px black;
    padding: 0px;
    top:0;
    position:relative;
}

#aboutMeStartButton{
    text-align: center;
    width: 100%;
    height:20%;
    border: 1px #c0c0c0 solid;
    border-radius: 0px;
    font-family: 'w95font';
    font-size: 18px;
}

.ignore-mouse-events{
    pointer-events: none;
}