/* Stranger Things Font */
@font-face {
    font-family: "BenguiatStd-BoldCondensed";
    src: url("https://db.onlinewebfonts.com/t/a56f253a4cf4d3f2edb2b018e0e80388.eot");
    src:
        url("https://db.onlinewebfonts.com/t/a56f253a4cf4d3f2edb2b018e0e80388.eot?#iefix")
            format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/a56f253a4cf4d3f2edb2b018e0e80388.woff2")
            format("woff2"),
        url("https://db.onlinewebfonts.com/t/a56f253a4cf4d3f2edb2b018e0e80388.woff")
            format("woff"),
        url("https://db.onlinewebfonts.com/t/a56f253a4cf4d3f2edb2b018e0e80388.ttf")
            format("truetype"),
        url("https://db.onlinewebfonts.com/t/a56f253a4cf4d3f2edb2b018e0e80388.svg#BenguiatStd-BoldCondensed")
            format("svg");
}

/* General body styling */
body {
    font-family: "Oswald", sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    font-family: "BenguiatStd-BoldCondensed";
    background-color: black;
}

/* Title section styling */
.title h1 {
    text-align: center;
    color: #aa0000;
}

/* Questions section styling */
.questions {
    background-color: #1f1f1f;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.questions h4 {
    color: #ff0000;
}

.questions img {
    width: 100%; /* Make images responsive */
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

/* Result section styling */
.result {
    display: none;
    background-color: #0e0e0e;
    color: darkred;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 1.2em;
}


#back{
    border: 1px rgb(147, 147, 147) solid;
    border-radius: 0px;
    font-family: 'w95font';
}