body {
    background-color: black;
    color: white;
    overflow-y: hidden;
}

#header{
    text-align: center;
}


#defaultImage{
    width: 100%;
}

#defaultWallpaper{
    border: 5px white solid;
    padding: 5px;
    width: 25%;
    text-align: center;
    margin: 8px;
}

#blissImage{
    width: 100%;
}

#blissWallpaper{
    border: 5px white solid;
    padding: 5px;
    width: 25%;
    text-align: center;
    margin: 8px;
}

#blissButton{
    font-family: 'w95font';
    border-radius: 0;
}
#default1Button{
    font-family: 'w95font';
    border-radius: 0;
}